<div class="comments">
  <div class="commentPic">
    <%= image_tag comment.user.avatar_url %>
  </div>
  <div class="commentBody">
    <%= div_for comment do %>
      <p class="small"><strong><%= comment.user.name %></strong> - <%= local_time_ago comment.created_at %></p>
      <p><%= markdownify comment.body %></p>
    <% end %>
  </div>
  <div class="commentDelete">
    <% if comment.user == current_user %>
    <%= link_to fa_icon("trash-o"), conversation_comment_path(@conversation, comment), method: :delete  %>
    </br>
    <% end %>
    <%= link_to fa_icon("twitter"), "#" %>
  </div>
</div>

