
<%= form_for @conversation do |f| %>
  <div class="form-group">
    <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
  </div>

  <span class="btn btn-primary" id="pollsToggle" style="margin-bottom: 15px;"><i class="fa fa-pie-chart"></i></span>

  <div id="polls" class="active">
    <%= f.fields_for :polls do |p| %>
      <div class="form-group">
        <%= p.text_field :option_a, placeholder: "Option A", class: "form-control" %>
      </div>
       <div class="form-group">
        <%= p.text_field :option_b, placeholder: "Option B", class: "form-control" %>
      </div>
    <% end %>
  </div>

  <%= f.fields_for :comments do |p| %>
    <div class="form-group">
      <%= p.text_area :body, placeholder: "Add a comment", rows: 10, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
