<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">

    <div class="conversationTopic">
        <div class="conversationLikes" id="conversation_<%= @conversation.id %>_upvotes">
          <%= render partial: "upvotes", locals: {conversation: @conversation} %>
        </div>
        <div class="conversationSubject">
          <h1><%= @conversation.subject %></h1>
          <%= markdownify @conversation.body %>
          <p class="text-muted small author">Created by <%= @conversation.user.name %></p>
        </div>
    </div>

    <% if @poll.option_a.present? %>
      <%= render partial: "answers/answer" %>
    <% end %>



    <%= render @comments, locals: {conversation: @conversation} %>

    <% if user_signed_in? %>
        <%= render partial: "comments/form" %>
    <% else %>
        <p> Commenting is limited to those invited by the community. Join the waiting list! </p>
        <p> <%= link_to "Login to comment", new_user_session_path %></p>
    <% end %>

    </div>
  </div>
</div>
