<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10">
    <%= link_to "Back", root_path %>
    <h1><%= @conversation.subject %></h1>
    <p class="text-muted small">Created by <%= @conversation.user.name %></p>

    <%= render @conversation.comments %>

    <hr/>
    <% if user_signed_in? %>
    <%= render partial: "comments/form" %>
    <% else %>
    <p> Commenting is limited to those invited by the community. Join the waiting list! </p>
    <p> <%= link_to "Login to comment", new_user_session_path %></p>
    <% end %>
    </div>
    <div class="col-sm-12 col-md-2 advertisement">
      <p>Sponsored by</p>
      <p>Bam Bam's BBQ<p>
    </div>
  </div>
</div>
