<aside id="menu" class='sidebar'>
  <div class='main-nav'>
    <i class="mobileBtn fa fa-bars" id="menuToggle"></i>
    <span><%= image_tag('b_logo.png', class: "bgLogo") %></span>
    <ul >
      <li class='logo'>
        <%= link_to "Banter", root_path %>
        <span>
          <%= image_tag('b_logo.png', style: "width: 35px; margin-top: -9px;") %>
        </span>
      </li>
      <li class="newConvo">
        <%= link_to "New Conversation", new_conversation_path %>
        <span class='fa fa-plus'></span>
      </li>
      <% if user_signed_in? %>
        <li>
            <%= link_to current_user.name, edit_user_registration_path %>
            <span><%= image_tag current_user.avatar_url, style: "border-radius: 50%; width: 25px; margin-top: -5px;" %></span>
        </li>
        <% if current_user.admin? %>
          <li>
            <%= link_to "Users", users_path %>
            <span class='fa fa-users'></span>
          </li>
        <% end %>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete%>
          <span class='fa fa-sign-out'></span>
        </li>
      <% else %>
        <li>
            <%= link_to "Login", new_user_session_path %>
            <span class='fa fa-sign-in'></span>
        </li>
      <% end %>
      <li>
        <a>Notifications</a>
        <span class='fa fa-envelope'></span>
      </li>
      <li>
        <a>Nearby Teams</a>
        <span class='fa fa-map-marker'></span>
      </li>
       <li>
        <a>Search</a>
        <span class='fa fa-search'></span>
      </li>
    </ul>
  </div>
</aside>