<% if user_signed_in? && current_user.answers?(@conversation)%>
  <div class="results">
    <div class="resultOne">
      <span class="answerName"><%= @poll.option_a %></span>
      <%= ((@conversation.answer_one.to_f / @conversation.answers_count.to_f) * 100).round %>%
    </div>
    <div class="resultTwo">
      <span class="answerName"><%= @poll.option_b %></span>
      <%= ((@conversation.answer_two.to_f / @conversation.answers_count.to_f) * 100).round %>%
    </div>
    <div class="resultTotal text-muted">
      Total Votes: <%= @conversation.answers_count %>
    </div>
  </div>
<% else %>
  <%= render partial: "answers/form" %>
<% end %>


