<% if user_signed_in? && current_user.answers?(@conversation)%>
  <div class="results">
    <div class="resultOne">
      <%= @poll.option_a %>
      <%= ((@conversation.answer_one.to_f / @conversation.answers_count.to_f) * 100).round %>%
    </div>
    <div class="resultTwo">
      <%= @poll.option_b %>
      <%= ((@conversation.answer_two.to_f / @conversation.answers_count.to_f) * 100).round %>%
    </div>
  </div>
<% else %>
  <%= render partial: "answers/form" %>
<% end %>


