<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= image_tag("b_logo.png", width: "75px") %>
        </div>
      </div>

      <h1 class="page-header text-center">Invite a Friend</h1>
      <div class="light-well">
        <div class="panel-body">
          <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
            <%= devise_error_messages! %>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <% resource.class.invite_key_fields.each do |field| -%>
                    <%= f.text_field field, placeholder: "Friends Email", class: "form-control" %>
                  <% end -%>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.submit "Send Invite", class: "btn btn-primary btn-block" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <h4 class="page-header text-center">Friends You've Invited</h4>
        <table class="table table-striped table-bordered">
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Accepted?</th>
        </thead>
        <tbody>
        <% @users.each do |u| %>
          <% if u.invited_by.present? && u.invited_by.name == current_user.name  %>
            <tr>
              <td><%= u.name %></td>
              <td><%= u.email%></td>
              <% if u.invitation_accepted_at.present? %>
                <td>Yes</td>
              <% else %>
                <td>No</td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>